/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


* {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* .carousel-inner > .carousel-item > img {
  width: 600px;
  height: 800px;
} */
/* .carousel-item {
  height: 50vh;
}


.global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc7c;
  color: #000105;
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(1, 92, 144, 0.426);
  overflow: hidden;
  width: 275px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-height: 250px;
}

.tag {
  border-radius: 50px;
  font-size: 15px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding: 3px 35px;
  text-transform: uppercase;
  background-color: #5e76bfc3;
}  */
body {
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 16px;
  overflow-x: hidden;
}
/* .sc-media-bg{


} */

#header-hero {
  width: 100%;
  display: block;
  position: relative;
}

#header-hero .header-bg {
  width: 100%;
  height: auto;
}

#header-hero .header-bg img {
  width: 100%;
  height: auto;
}

#header-hero .header-content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  text-align: center;
  color: #000000;
  padding: 0rem 0.4rem;
}

#header-hero .header-content p.heading-1 {
  text-transform: uppercase;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2vw;
  padding-top: 9vw;
}

#header-hero .header-content h1 {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 2.4vw;
}

#header-hero .header-content h1 .logo-style {
  color: #008442;
}

#header-hero .header-content p.description {
  margin: 0 auto;
  width: 30%;
  font-family: Cambria;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 5vw;
}

#header-hero .header-content .button {
  margin: 0 auto;
  background-color: #008442;
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  width: 10rem;
  padding: 0.8rem;
}

#header-hero .header-content .button p {
  font-family: Cambria;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
  #header-hero .header-content p.description {
      width: 40%;
      margin-bottom: 3rem;
      font-size: 1.2rem;
  }

  #header-hero .header-content p.heading-1 {
      padding-top: 8vw;
  }
}

@media only screen and (max-width: 1024px) {
  #header-hero .header-bg {
      width: 100%;
      height: auto;
      overflow: hidden;
  }

  #header-hero .header-bg img {
      width: 100rem;
      height: 40rem;
      margin-left: -50%;
  }

  #header-hero .header-content p.heading-1 {
      padding-top: 20vw;
  }

  #header-hero .header-content p.description {
      width: 60%;
      margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  #header-hero .header-content h1 {
      font-size: 2rem;
      padding: 1rem 0rem;
  }

  #header-hero .header-bg img {
      width: 100rem;
      height: 40rem;
      margin-left: -140%;
  }

  #header-hero .header-content p.description {
      width: 50%;
      margin-bottom: 3rem;
      text-align: left;
  }

  #header-hero .header-content .button {
      width: 8rem;
      padding: 0.6rem;
  }

  #header-hero .header-content .button p {
      font-size: 0.8rem;
  }
}

#summer-collection {
  width: 100%;
  display: block;
  margin: 6rem 0rem;
}

#summer-collection .container {
  margin: 0 auto;
  width: 80%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#summer-collection .container .sc-content {
  width: 60%;
  padding-top: 3.4rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

#summer-collection .container .sc-content h1 {
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

#summer-collection .container .sc-content p.description {
  font-family: Cambria;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
  margin-bottom: 4vw;
  padding-right: 4rem;
}

#summer-collection .container .sc-content a {
  border-bottom: 2px solid #015a2c;
  text-decoration: none;
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

#summer-collection .container .sc-media {
  width: 40vw;
}

#summer-collection .container .sc-media .sc-media-bg {
  width: 100%;
  height: auto;
  padding-top: 3vw;
}

#summer-collection .container .sc-media .sc-media-bg img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  #summer-collection {
      width: 100vw;
      display: block;
      margin-top: 0rem;
  }

  #summer-collection .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  #summer-collection .container .sc-content {
      width: 80vw;
      padding: 5rem 2rem 2rem;
  }

  #summer-collection .container .sc-media {
      width: 80vw;
  }

  #summer-collection .container .sc-content h1 {
      font-size: 5.6vw;
      letter-spacing: 1rem;
      line-height: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  #summer-collection .container .sc-content h1 {
      font-size: 5.6vw;
      letter-spacing: 0.6rem;
      line-height: 2.4rem;
      margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #summer-collection .container .sc-content p.description {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-bottom: 4vw;
      padding-right: 1.2rem;
      text-align: justify;
      margin-bottom: 2rem;
  }
}

#products {
  width: 100%;
}

#products .container {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}

#products .container .products-header {
  font-size: 16px;
  text-align: center;
  margin-bottom: 3rem;
}

#products .container .products-header h2 {
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-align: center;
}

#products .container .products-header p {
  font-family: Cambria;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc7c;
  color: #000105;
}

.contai {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(1, 92, 144, 0.426);
  overflow: hidden;
  width: 275px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-height: 250px;
}

.tag {
  border-radius: 50px;
  font-size: 15px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding: 3px 35px;
  text-transform: uppercase;
  background-color: #5e76bfc3;
}


#blog {
  width: 100%;
  display: block;
  margin: 6rem 0rem 0rem;
  background-color: #f2f2f2;
  padding: 3rem 0rem 6rem;
}

#blog .container {
  margin: 0 auto;
  width: 80%;
  background-color: #f2f2f2;
}

#blog .container .blog-header {
  text-align: center;
  margin-bottom: 3rem;
}

#blog .container .blog-header h2 {
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium";
  color: #000000;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-align: center;
}

#blog .container .blog-header p {
  font-family: Cambria;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

#blog .container .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog .container .blog-content .blog-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0rem;
  padding-left: 5%;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder {
  width: 45%;
  height: auto;
  font-size: 16px;
}

#blog .container .blog-content .blog-1 .blog-1-image-holder img {
  width: 100%;
  height: auto;
}

#blog .container .blog-content .blog-1 .blog-1-content {
  width: 50%;
  background-color: #fff;
  margin-left: -10%;
  margin-top: 4%;
  padding: 4%;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

#blog .container .blog-content .blog-1 .blog-1-content h4 {
  text-transform: uppercase;
  color: #999999;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#blog .container .blog-content .blog-1 .blog-1-content h3 {
  text-transform: uppercase;
  padding-bottom: 6%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.description {
  font-family: Cambria;
  font-style: italic;
  padding-bottom: 8%;
}

#blog .container .blog-content .blog-1 .blog-1-content p.button {
  width: 50%;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 4%;
  color: #fff;
  background-color: rgba(3, 97, 14, 0.8);
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-1 .blog-1-content p.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(166, 20, 88, 0.8);
  -webkit-transition: background-color 1s ease-in-out 0s;
  -o-transition: background-color 1s ease-in-out 0s;
  transition: background-color 1s ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s;
}

#blog .container .blog-content .blog-2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0rem;
  padding-left: 5%;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder {
  width: 45%;
  height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-image-holder img {
  width: 100%;
  height: auto;
}

#blog .container .blog-content .blog-2 .blog-2-content {
  width: 50%;
  background-color: #fff;
  margin-left: -10%;
  margin-top: 4%;
  padding: 4%;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

#blog .container .blog-content .blog-2 .blog-2-content h4 {
  text-transform: uppercase;
  color: #999999;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#blog .container .blog-content .blog-2 .blog-2-content h3 {
  text-transform: uppercase;
  padding-bottom: 6%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.description {
  font-family: Cambria;
  font-style: italic;
  padding-bottom: 8%;
}

#blog .container .blog-content .blog-2 .blog-2-content p.button {
  width: 50%;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 4%;
  color: #fff;
  background-color: rgba(166, 20, 88, 0.8);
  -webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
}

#blog .container .blog-content .blog-2 .blog-2-content p.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgba(166, 20, 88, 0.8);
  -webkit-transition: background-color 1s ease-in-out 0s;
  -o-transition: background-color 1s ease-in-out 0s;
  transition: background-color 1s ease-in-out 0s;
  -webkit-transition: color 400ms ease-in-out 0s;
  -o-transition: color 400ms ease-in-out 0s;
  transition: color 400ms ease-in-out 0s;
}

@media only screen and (max-width: 1024px) {
  #blog .container .blog-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  #blog .container .blog-content .blog-1 {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      margin-bottom: 8%;
  }

  #blog .container .blog-content .blog-2 {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }

  #blog .container .blog-content .blog-1 .blog-1-image-holder {
      width: 45%;
      height: auto;
      font-size: 16px;
      margin-left: 5%;
  }

  #blog .container .blog-content .blog-2 .blog-2-image-holder {
      width: 45%;
      height: auto;
      font-size: 16px;
      margin-left: 5%;
  }
}

@media only screen and (max-width: 480px) {
  #blog .container .blog-content .blog-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  #blog .container .blog-content .blog-1 .blog-1-image-holder {
      width: 100%;
      height: auto;
  }

  #blog .container .blog-content .blog-1 .blog-1-image-holder {
      margin-left: 0%;
  }

  #blog .container .blog-content .blog-1 .blog-1-content {
      width: 100%;
      margin-left: 0%;
      margin-top: -1%;
      padding: 8%;
  }

  #blog .container .blog-content .blog-1 .blog-1-content p.button {
      font-size: 0.6rem;
      padding: 4%;
  }

  #blog .container .blog-content .blog-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  #blog .container .blog-content .blog-2 .blog-2-image-holder {
      width: 100%;
      height: auto;
  }

  #blog .container .blog-content .blog-2 .blog-2-image-holder {
      margin-left: 0%;
  }

  #blog .container .blog-content .blog-2 .blog-2-content {
      width: 100%;
      margin-left: 0%;
      margin-top: -1%;
      padding: 8%;
  }

  #blog .container .blog-content .blog-2 .blog-2-content p.button {
      font-size: 0.6rem;
      padding: 4%;
  }
}

#contact {
  width: 100%;
  height: auto;
  background-color: #e6b58f;
}

#contact .container {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding-bottom: 2rem;
  text-transform: capitalize;
}

#contact .container h4 {
  font-family: "Franklin Gothic Medium";
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.056rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#contact .container p {
  font-family: Cambria;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.044rem;
  text-align: center;
  padding: 0.2rem 0rem;
}

#contact .container p.email {
  margin: 0 auto;
  margin-top: 16rem;
  border-bottom: 1px solid white;
  text-align: left;
  width: 40%;
}

#contact .container p.email span {
  width: 17px;
  height: 15px;
  float: right;
}

#contact .container p.email span img {
  width: 17px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #contact .container p.email {
      width: 90%;
  }
}

footer {
  background-color: #595959;
  font-size: 0;
  padding: 1.6rem 0rem;
  width: 100%;
}

footer p {
  font-family: Corbel;
  color: #f5f2f1;
  font-weight: 400;
  font-size: 16px;
  width: 10%;
  display: inline-block;
  text-align: center;
}

footer .copy-right {
  width: 80%;
  text-align: left;
  padding-left: 4rem;
}

@media only screen and (max-width: 920px) {
  footer p {
      width: 100%;
      text-align: center;
      margin-bottom: 0.4rem;
  }

  footer .copy-right {
      width: 100%;
      text-align: center;
      margin-left: -2.2rem;
  }
}

.back-to-top {
  padding: 1rem;
  position: fixed;
  bottom: 8%;
  right: 2%;
  z-index: 2;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0);
}

.back-to-top:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}