
<div id="container">
  <nav class="navbar">
      <ul>
          <li><a routerLink="/inicio">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#servicos">Serviços</a>
            <ul>
              <!-- LINKS SERAO ANCORADOS COM A PAGINA INICIAL -->
                <li><a href="#">Guia</a></li>
                <li><a href="#">Viagem</a></li>
                <li><a href="#">Artesão</a></li>
            </ul>

            </li>
            <li><a href="#produtos">Produtos</a>
              <ul>
                  <li><a href="#">Instrumentos</a></li>
                  <li><a href="#">Decoração</a></li>
                  <li><a href="#">Roupas</a></li>
              </ul>
              </li>
          <li><a  routerLink="/contato">Contato</a></li>
          <li><a href="#">Minha Conta</a>
            <ul>
                <li><a  routerLink="/entrar">Login</a></li>
                <li><a routerLink="/cadastrar">Cadastrar</a></li>
            </ul>
            </li>
      </ul>
      <!-- <div class="pesquisar">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div> -->
  </nav>
</div>