
 @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Oswald:wght@200&family=Raleway:ital,wght@1,100&display=swap');
/*
.fs-16 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-size: 35pt;
  text-align: center;
} */

a{
  cursor: pointer;
  text-decoration: none;
}

.sair{
  font-size: 16pt;
}

.navconteudo {

  background-color: #1C877D;
}

.navconteudo a {
    padding: 0  15px;
    color:rgb(0, 0, 0);
    font-size: 25px;
    line-height:  50px;
    text-decoration:none;
    font-weight: bold;
  }

  .navconteudo a:hover {
    background-color: #9bd487;
  }

  /* .botaoP{
    color: black;
    background-color: rgb(2, 236, 236);
  } */

  .navbar-collapse{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
  }

  .dropdown-menu{
    background-color: #1C877D;
  }
  .dropdown-menu:hover{
    background-color: #9bd487;
  }

  .dropdown-item{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
  }


  .nProd{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
  }

  .mod{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }


  .btn-pub {
    background:  #C1E4B4;
    border: none;
    z-index: 1;
    font-size: 19px;
    color:black ;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;

  }

  .btn-pub:hover {
    color:#fff;
    background-color: #1c877cd9;

  }
  .btn-can {
    background:  #FFE8AD;
    border: none;
    z-index: 1;
    font-size: 21px;
    color:black ;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
  }

  .btn-can:hover {
    color:#fff;
    background-color: #CA2A02;

  }

  .car{
color: black;
background-color: #ffffff;
  }