<main>
  <div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">

                </div>
            </div>
        </div>
    </div>
  </div>





      <div class="row d-flex justify-content-center posicao-card ">
      <div class="col-md-6 p-3">
        <div class="container shadow-lg p-5 bg-light borda">
          <!-- <p class="logo"> <img src="https://avatars.githubusercontent.com/t/5853601?s=280&v=4" alt=""></p> -->
  <!-- <div class="bg-h1">
    <h1 class="text-center texto">Cadastre-se</h1>
  </div> -->
            <h1 class="text-center texto">Cadastre-se</h1>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input [(ngModel)]="usuario.nomeCompleto" (keyup)="validaNomeCad()"  class="form-control" type="text" name="nomeCompleto" id="nomeCad"
              placeholder="Seu Nome" />
          </div>

          <div class="form-group">
            <label for="usuario"> Usuario</label>
            <input [(ngModel)]="usuario.usuario" (keyup)="validaEmailCad()" class="form-control" type="email" name="usuario" id="usuarioCad"
              placeholder="email@email.com"  />
          </div>

        <div class="form-group">
          <label for="senha"> Senha</label>
          <input (input)="confirmSenha($event)"  class="form-control" type="password" name="senha" id="senha"
            placeholder="Sua Senha" />
        </div>

          <div class="form-group">
            <label for="confirmSenha"> Confirmar Senha</label>
            <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
              placeholder="Confirme Sua Senha" />
          </div>

          <div class="form-group">
            <label for="foto"> Foto de Usuario</label>
            <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
              placeholder="Link da Foto" />
          </div>

          <!-- <div class="form-group">
            <label for="tipo"> Tipo de Usuario</label>
            <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
            <option>Selecione um tipo de usuario:</option>
            <option value="normal">Comprador</option>
            <option value="Adm">Vendedor</option>
          </select>
        </div> -->

        <div class="d-flex justify-content-center">

          <button type="submit" class="btn btn-primary" (click)="cadastrar()">Criar Conta</button>
          <button type="submit" class="btn btn-primary" routerLink="/entrar">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</main>
