@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Oswald:wght@200&family=Raleway:ital,wght@1,100&display=swap');

input{
  border: dashed 1px rgb(0, 0, 0);
  background-color: rgba(161, 169, 247, 0.199);
  width: 100%;
  padding: 25px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  transition: all 0.3s linear;
  border-radius: 15px;

}
option, select{
  background-color: rgba(161, 169, 247, 0.199);
  font-size: 20px;
  color: rgb(0, 0, 0);

}
form {
  display: block;
}
.atzCon, .mp{
  color: rgba(0, 0, 0, 0.34);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 46px;
  text-shadow:
    -1px -1px 0px rgba(47, 151, 96, 0.887),
    -1px 1px 0px rgba(47, 151, 96, 0.887),
    1px -1px 0px rgba(47, 151, 96, 0.887),
    1px 0px 0px rgba(47, 151, 96, 0.887);
}



.btn-cr {
  background:  #c3e4b4;
  border: none;
  z-index: 1;
  font-size: 20px;
  color:black ;
  margin: 15px;
  padding: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-cr:hover {
  color:#fff;
  background-color: #1c877cd9;

}
.btn-crr {
  background:  #FFE8AD;
  border: none;
  z-index: 1;
  font-size: 20px;
  color:black ;
  margin: 15px;
  padding: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-crr:hover {
  color:#fff;
  background-color: #CA2A02;
}

.til, h5{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.til, h2{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.btn-modal{
  background:  #f6a5a5;
  border: none;
  z-index: 1;
  font-size: 25px;
  color:black ;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.btn-modal:hover {
  color:#fff;
  background-color: #CA2A02;
}
.btn-mod{
  background:  #61c4f5;
  border: none;
  z-index: 1;
  font-size: 25px;
  color:black ;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.btn-mod:hover {
  color:#fff;
  background-color: #3082ce;
}

.btn-del{
    background:  #c83f11;
    margin: 15px;
    padding: 15px;
    border: none;
    z-index: 1;
    font-size: 25px;
    color:rgb(255, 255, 255) ;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
}

  .btn-del:hover {
    color:#fff;
    background-color: #ff0000;
  }


.global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc23;
  color: #000105;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.contai {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(1, 92, 144, 0.426);
  overflow: hidden;
  width: 275px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  min-height: 250px;
}
.card-body p{
  font-size: 25px;
}

.tag {
  border-radius: 50px;
  font-size: 15px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding: 3px 35px;
  text-transform: uppercase;
  background-color: #003852;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.nomeProduto{
  text-transform: uppercase;
  padding: 3px;
  font-weight: bold;
}

.btn-edi{
  background:  #e3b543;
  border: none;
  z-index: 1;
  font-size: 23px;
  color:black ;
  margin: 10px;
  padding: 10px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-edi:hover {
  color:#fff;
  background-color: #c88d03;
}

