@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Oswald:wght@200&family=Raleway:ital,wght@1,100&display=swap');

input{
  border: dashed 1px rgb(0, 0, 0);
  background-color: rgba(161, 169, 247, 0.199);
  width: 100%;
  padding: 25px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  transition: all 0.3s linear;
  border-radius: 15px;

}
option, select{
  background-color: rgba(161, 169, 247, 0.199);
  font-size: 20px;
  color: rgb(0, 0, 0);

}
form {
  display: block;
}
.atzCon{
  color: rgba(0, 0, 0, 0.34);
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 46px;
  text-shadow:
    -1px -1px 0px rgba(47, 151, 96, 0.887),
    -1px 1px 0px rgba(47, 151, 96, 0.887),
    1px -1px 0px rgba(47, 151, 96, 0.887),
    1px 0px 0px rgba(47, 151, 96, 0.887);
}


.btn-cr {
  background:  #c3e4b4;
  border: none;
  z-index: 1;
  font-size: 20px;
  color:black ;
  margin: 15px;
  padding: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-cr:hover {
  color:#fff;
  background-color: #1c877cd9;

}
.btn-crr {
  background:  #FFE8AD;
  border: none;
  z-index: 1;
  font-size: 20px;
  color:black ;
  margin: 15px;
  padding: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.btn-crr:hover {
  color:#fff;
  background-color: #CA2A02;
}

.til, h5{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.til, h2{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.btn-modal{
  background:  #f6a5a5;
  border: none;
  z-index: 1;
  font-size: 25px;
  color:black ;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.btn-modal:hover {
  color:#fff;
  background-color: #CA2A02;
}
.btn-mod{
  background:  #61c4f5;
  border: none;
  z-index: 1;
  font-size: 25px;
  color:black ;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Oswald', sans-serif;
}

.btn-mod:hover {
  color:#fff;
  background-color: #3082ce;
}

.btn-del{
    background:  #c83f11;
    border: none;
    z-index: 1;
    font-size: 25px;
    color:rgb(255, 255, 255) ;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
}

  .btn-del:hover {
    color:#fff;
    background-color: #ff0000;
  }
