<div class="container mb-5 mt-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center atzCon p-2">ATUALIZAR PRODUTO</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
<form class="form">
      <div class="form-group  text-center">
        <label for="nome" class="til"> Nome do Produto</label>
        <input [(ngModel)]="produto.nome" class="form-control  text-center" type="text" name="nome" id="nome" placeholder="Nome do produto" >
      </div>

      <div class="form-group  text-center">
        <label for="descricao" class="til"> Descrição do Produto</label>
        <input [(ngModel)]="produto.descricao" class="form-control  text-center" type="text" name="descricao" id="descricao" placeholder="Descrição do produto" >
      </div>

      <div class="form-group  text-center">
        <label for="foto" class="til">Imagem do Produto</label>
        <input [(ngModel)]="produto.foto" class="form-control  text-center" type="text" name="foto" id="foto" placeholder="Link da imagem do seu produto" >
      </div>

      <div class="form-group text-center ">
        <label for="preco" class="til">Preço</label>
        <input [(ngModel)]="produto.preco" class="form-control text-center" type="text" name="preco" id="preco" placeholder="Preço do produto" >
      </div>

      <div class="form-group text-center">
        <label for="texto" class="til">Escolha uma Categoria!</label>
        <select name="categoria" id="categoria" class="form-control text-center" [(ngModel)]="idCategoria"  (change)="findByIdCategoria()">
          <option class="op" *ngFor="let categoria of listaCategoria" value="{{categoria.id}}">
            {{categoria.tipo}}
          </option>
        </select>
      </div>


      <div class="d-flex justify-content-center">
        <button  type="submit" class="btn btn-cr" (click)="atualizar()">Atualizar</button>
        <button type="submit" class="btn btn-crr mr-4" routerLink="/inicio">Cancelar</button>

      </div>
    </form>
    </div>

  </div>
  <button class="btn btn-del justify-content-end" data-toggle="modal" data-target="#deletePModal">Deletar Produto</button>

</div>

<div class="container">
  <div class="modal fade" id="deletePModal" tabindex="-1" aria-labelledby="deletePModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePModallLabel">Apagar Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3> Tem certeza que deseja apagar esse Produto?</h3>
        </div>
        <div class="row ">
    <div class="col-md-12 d-flex justify-content-center mb-3">
      <button class="btn btn-mod mr-4" data-dismiss="modal">Não</button>
      <button class="btn btn-modal" (click)="apagar()" data-dismiss="modal">Sim</button>
    </div>
  </div>
      </div>
    </div>
  </div>
  </div>
